@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --primary-color: #134265 ;
    --secondary-color: #4C7298 ;
    --accent1-color: #D7F3FF ;
    --accent2-color: #E19F20 ;

    --heading-font: "Poetsen One", sans-serif ;
    --paragraph-font: "Roboto Flex", "Arial", sans-serif;

    --nav-background-color: #D7F3FF ;
    --nav-link-color: #134265 ;
    --nav-hover-link-color: #E19F20 ;
    --nav-hover-background-color: #fff ;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;

}

h1 {
    font-family: var(--heading-font);
    text-shadow: 0.5px 0.5px 1px var(--primary-color), 0 0 1em white, 0 0 0.2em white;
}

h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* Header */

header{
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}


header img {
    width: 100px;
}

header nav {
    text-align: center;
}

/*Main */
main {
    margin-bottom: 5px;
}


section {
    margin-left: 5px;
}

/*Footer*/

footer {
    max-width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--accent1-color);
    border-top: 1px solid black;
    padding: 1em;
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
    justify-items: center;
}

/* Classes */

/* Class Hero */
.hero {
    position: relative;
    margin-bottom: 10px;
}

.hero article {
    position: absolute;
    bottom: 250px;
    left: 70px;
    right: 70px;
    background-color:rgba(225, 159, 32, 0.98) ;
}

.hero article p {
    color: var(--primary-color);
    /* text-shadow: 0.5px 0.5px 1px var(--primary-color), 0 0 1em white, 0 0 0.2em white; */
}

.hero article img {
    width: 180px !important; 
    height: auto;
    float: right;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 100px;
    font-size: 70px;
}

/* Class sociallinks */

.sociallinks img {
    width: 20px;
    height: auto;
}

 /* Class History */

.history {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

.history h2 {
    grid-column: span 3;
}

.history img {
    min-width: 250px;
    display: block;
    width: 100%;
    height: auto;
}

.history div{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
}

/* Adventure History */

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;

}

.adventure h2 {
    grid-column: 1 / 6;
}

.adventure img{
    /* min-width: 250px; */
    display: block;
    width: 100%;
    height: auto;
}