@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --primary-color: #134265 ;
    --secondary-color: #4C7298 ;
    --accent-color: #D7F3FF ;
    --additional-accent-color: #E19F20 ;

    --heading-font: "Poetsen One", sans-serif ;
    --paragraph-or-default-font: "Roboto Flex", sans-serif;

    --navigation-background-color: #D7F3FF ;
    --navigation-link-color: #134265 ;
    --navigation-hover-link-color: #E19F20 ;
    --navigation-hover-background-color: #fff ;
}

body {
    font-family: var(--paragraph-or-default-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--navigation-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--navigation-link-color);
}

nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
}
