@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --primary-color: #134265 ;
    --secondary-color: #4C7298 ;
    --accent1-color: #D7F3FF ;
    --accent2-color: #E19F20 ;

    --heading-font: "Poetsen One", sans-serif ;
    --paragraph-font: "Roboto Flex", sans-serif;

    --nav-background-color: #D7F3FF ;
    --nav-link-color: #134265 ;
    --nav-hover-link-color: #E19F20 ;
    --nav-hover-background-color: #fff ;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
