/* Body Styles */
nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

p {
    padding: 0;
}

/* Main Styles */
main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* Aside Styles */
aside {
    width: 20em ;
    margin: 1em ;
    border: 0.5rem outset #640E23  ;
    padding: 1em ;
    background-color: #E2C8B1 ;
    color: #640E23 ;
    text-align: center ;
    border-radius: 6px ;
    
}

aside img {
    width: 200px;
    height: auto;
}

/* Footer Styles */
footer {
    background-color: #d9d9d9 ;
    padding: 1em;
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;

}